button {
  --webkit-appearance: none;
  border: none;
  background-color:#C0C0C0;
  color:black;
  font-size:30px;
  margin:1px;
}
body{
  margin:20px;
}

table {
    border-collapse: collapse; /* 境界線をまとめる */
}

th, td {
    border: 1px solid #ddd; /* セルの境界線 */
    text-align: center; /* テキストを中央揃え */
    padding: 8px; /* パディング */
    padding-left:10px;
    padding-right:10px;
}

th {
    background-color: #f2f2f2; /* ヘッダーの背景色 */
    color: black; /* ヘッダーのテキスト色 */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* 偶数行の背景色 */
}

tr:hover {
    background-color: #ddd; /* ホバー時の背景色 */
}

.button-active {
      background-color: #4CAF50; /* アクティブ状態の背景色 */
      color: white; /* アクティブ状態のテキスト色 */
}

img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 767px) {
    button {
        /* スマートフォン用のスタイル */
        padding: 8px 16px;
        font-size: 14px;
        /* その他のスタイリング */
    }
}

@media screen and (min-width: 768px) {
    button {
        /* PC用のスタイル */
        padding: 10px 20px;
        font-size: 16px;
        /* その他のスタイリング */
    }
}
